/* You can add global styles to this file, and also import other style files */

body {
    background: url('assets/images/codigo-matrix.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
  }